<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="nlogWcfTest.RegularSoapService" 
               behaviorConfiguration="LoggingServiceBehaviour">
        <endpoint binding="basicHttpBinding" 
                  contract="nlogWcfTest.IRegularSoapService" 
                  behaviorConfiguration="StandardEndpointBehaviour" />
      </service>
      <service name="nlogWcfTest.RestfulJsonService" 
               behaviorConfiguration="LoggingServiceBehaviour">
        <endpoint 
          binding="webHttpBinding" 
          contract="nlogWcfTest.IRestfulJsonService" 
          behaviorConfiguration="webHttpEndpointBehaviour" />
      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="StandardEndpointBehaviour" />
        <!-- RESTful support -->
        <behavior name="webHttpEndpointBehaviour">
          <webHttp />
          <authorized />
        </behavior>
        <!-- / RESTful support -->
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="None" />        
        <behavior name="LoggingServiceBehaviour">
          <authorized />
          <inspector />
          <nlog />
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="nlog"
        type="nlogWcfTest.NlogBehaviourExtensionElement, nlogWcfTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="inspector"
        type="nlogWcfTest.NlogMessageInspectorBehaviourExtensionElement, nlogWcfTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="authorized"
        type="nlogWcfTest.AuthorizedAttributeBehaviourExtensionElement, nlogWcfTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />  
      </behaviorExtensions>
    </extensions>
  
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <rewrite>
      <rules>
        <!-- forward ~/api/ to ~/RestfulJsonService.svc/ -->
        <rule name="RestfulJsonService" stopProcessing="true">
          <match url="^api(.*)$"/>
          <action type="Rewrite" url="RestfulJsonService.svc/{R:1}" />
        </rule>
        
      </rules>
    </rewrite>
  </system.webServer>

</configuration>
